@import "variables";
@import "mixins";

html,body{
  margin: 0 !important;
  padding: 0 !important;
}

.visible{
  visibility: visible;
}

body{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  @include prefix('background-size', '100% 100%');
  font-family: 'Raleway', sans-serif;

  object{
    pointer-events: none;
  }

      a{
        text-decoration: none;
        color: inherit;
      }

      nav{
          display: flex;
          font-weight: 600;
          font-size: 14px;
          order: 1;
          width: 100%;

          #logo{
              margin: 5vh 52vw 0 4vw;
              order: 1;
            img{
              height: 8vh;
            }
          }

          #hamburger_menu{
            display: none;
            order: 2;
            min-width: 32px;
            min-height: 22px;
          }

          #drawer{
            order: 2;
            display: flex;

            #image{
              display: none;
              width: 150px;
              margin: 20px auto 10px;

              img{
                height: 30px;
                width: 150px;
              }
            }

            #close{
              display: none;
              z-index: 10;
              width: 22px;
              height: 22px;
              position: fixed;
              right: 0;
              margin: 20px 30px 0 0;
            }

            .option{
              display: block;
              text-transform: uppercase;
              margin: 5.5vh 0 0 2vw;
              color: $font-color;
              order: 2;
              padding: 8px 5px 8px 0;
              line-height: 10px;
              height: 10px;

              hr {
                display: none;
                height: 0;
                border: 0;
                width: 50%;
                border-bottom: 2px solid $font-color;
                margin: 8px 0 0;
                padding: 0;
              }

              &:hover{
                    hr{
                      display: block;
                    }
              }
            }

            .visited{
              border-bottom: 2px solid $font-color;
            }

        }
        .open{
          @include prefix('transform', 'translate(0, 0) !important');
        }

      }

      main{
        order: 2;
        width: 100%;

        .animation{
            margin: 25vh auto 0;
            width: 60%;
            height: 40%;
            font-size: 35px;
            font-weight: 800;
            color: $font-color;

            #about{
              display: block;
              width: 600px;
              font-size: 16px;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              color: $second-font-color;

              #dane{
                color: $font-color;
                white-space: nowrap;
                margin: 0;
              }
            }

            span{
              margin: 0 auto;
              display: block;
              text-align: center;
              width: 150px;
            }

            .clicked{
              @include prefix('animation', 'spin 2s linear');
            }
            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @-ms-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @-o-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg);} }

        }

        .container{
          width: 100%;
          height: 80vh;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-size: 35px;
          font-weight: 800;
          color: $font-color;

          #title{
            margin: 0 auto;
            display: block;
            text-align: center;
            width: 100%;
            order: 1 !important;
          }

          #map{
            width: 30%;
            height: 80%;
            margin: 8vh 5%;
            order: 2 !important;
            box-sizing: border-box;
          }

          .info{
            order: 3 !important;
            width: 60%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            color: $second-font-color;

            p{
              margin: 0 0 2vh;
              height: 6vh;
            }

            #info-header{
              width: 100%;
              height: 8vh;
              order: 1;
              display: block;
              font-size: 25px;
              margin-top: 8vh;
              text-align: center;
            }

            .visible{
              visibility: visible;
            }

            .income{
              width: 50%;
              height: 12vh;
              box-sizing: border-box;
              font-size: 16px;
              margin-top: -12vh;
              order: 2;
              text-align: center;
              visibility: hidden;
            }
            .income:nth-of-type(2){
              padding-right: 20px;
            }

            .work{
              width: 50%;
              height: 12vh;
              box-sizing: border-box;
              font-size: 16px;
              margin-top: -10vh;
              order: 3;
              text-align: center;
              visibility: hidden;
            }
            .work:nth-of-type(2){
              padding-right: 20px;
            }

            .properties{
              width: 50%;
              height: 12vh;
              box-sizing: border-box;
              font-size: 16px;
              margin-top: -10vh;
              order: 4;
              text-align: center;
              visibility: hidden;
            }
            .properties:nth-of-type(2){
              padding-right: 20px;
            }
          }

          .charts{
            order:4 !important;
            width: 100%;
            margin-top: 5vh;
            height: 30vh;
          }

        }

        .comparison{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          margin-top: 5vh;

          .salaries-container{
            order: 1;
            width: 50%;
            text-align: center;
            padding-left: 60px;
            box-sizing: border-box;
          }

          .properties-container{
            order: 2;
            width: 50%;
            text-align: center;
            box-sizing: border-box;
          }
        }
      }

      footer{
        order: 3;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 10px;

        #wrapper {
          position: fixed;
          width: 140px;
          height: 60px;
          bottom: 0;
          right: 50%;
          margin-right: -70px;
          overflow: hidden;
        }

        .triangle {
          @include prefix('transform', 'rotate(45deg)');
          background-color: $font-color;
          color: $bg-color;
          width:90px;
          height:86px;
          top: 25px;
          position: relative;
          border-radius: 5px;
          margin: 0 auto;
        }

        .triangle p {
          @include prefix('transform', 'rotate(-45deg)');
          width: 40px;
          padding: 8px 0 0 0;
        }
      }

  }

  //Media Queries

  @import "queries";
